@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "pacifica";
    src: url("/fonts/Pacifica\ Condensed\ Regular.otf");
  }
  @font-face {
    font-family: "rumor";
    src: url("/fonts/The\ Rumor.ttf");
  }
}
